.container {
    display: flex;
    flex-direction: column;
    
    width: 288px;
    height: 100%;

    border-radius: 8px;
    background-color: #FDFDFD;
    padding: 20px 15px 15px;

    box-shadow: 0px 8px 24px rgb(69, 69, 80, 0.1);
}

.dflexCenter {
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: space-between;
    color: #656575;
    font-size: 18px;
}

.subTitle {
    display: flex;
    align-items: center;
    
    font-weight: 400;
}

.topToday {
    background-color: #F8F7F1;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
}

canvas {
    width: 146 !important;
    height: 146px !important;
}

.mT30px {
    margin-top: 30px;
}

.smallCicle {
    width: 16px;
    height: 16px;
    border-radius: 10px;
}

.arrow {
    display: flex;
    align-items: center;

    font-size: 20px;
}

.green {
    color: #52C93F;
}

.red {
    color: red;
}

.dataList {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.dataItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataDetails {
    display: flex;
    align-items: center;
}

.smallCircle {
    width: 16px;
    height: 16px;

    border-radius: 100px;

    margin-right: 8px;
}