.m35px {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 35px;
    margin-left: 15px;
}

.title {
    font-size: 20px;
    color: #525256;
}

.subTitlePrincipal {
    font-size: 15px;
    color: #A3A3A3;
}

.sub {
    display: flex;
    flex-direction: column;

    width: 288px;
    padding: 20px 15px 25px;
    
    border-radius: 8px;
    background-color: #FDFDFD;
    box-shadow: 0px 8px 24px rgb(69, 69, 80, 0.1);
}

.dflexCenter {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    color: #656575;
    font-size: 18px;
}

.topToday {
    background-color: #F4F5F7;
    border-radius: 4px;
    font-size: 12px;
    padding: 5px;
}

.fullWidthHr {
    width: 100%;
    counter-reset: #525256;
    opacity: 25%;
}

.mid {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.amount {
    font-size: 30px;
}

.change {
    display: flex;
    align-items: center;

    font-size: 20px;
}

.green {
    color: #52C93F;
}

.red {
    color: red;
}

.bottom {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.comparison {
    color: #656575;
    margin: 10px 0 5px;
}

.lastWeek {
    color: #656575;
    display: flex;
    justify-content: space-between;
}

.subTitle {
    display: flex;
    align-items: center;

    font-weight: 400;
}